
#header{
    font-family: Arial, Helvetica, sans-serif;
    background:#293133;
    text-align: left;
    color:antiquewhite;
    letter-spacing: 1px;
    font-size: 15px;
    width: 800px;
    padding:20px;
    top: 0px;
    margin-left: auto;
    margin-right: auto;

}

.navigation{

    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    background-color: #293133;
    padding: 20px;
    top: 50px; 
    width: 800px; 
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    
    
    

    

}

.navigation a {
    float: right;
    display: block;
    color:antiquewhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #293133;
  }


  .navigation a:hover {
    background: antiquewhite;
    color:  #293133;
  }

  .navigation a:after{
    color: #293133;
    background:black;


  }


  main{

        width: 800px;
        background-image:url(bg.png);
        font-family: Arial, Helvetica, sans-serif;
        padding: 6px 24px;
        text-align: center;
        color: #293133;
        margin-left: auto;
        margin-right: auto;
        letter-spacing: 1px;
        font: caption;
        font-size: 30px;
        text-transform: uppercase;
        top: 300px;
        

    }



  

  footer{
    font-family: Arial, Helvetica, sans-serif;
    background: #293133;
    text-align: center;
    color: antiquewhite;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 1px;
    font: caption;
    font-size: fill;
    text-transform: uppercase;
    width: 800px;
    padding: 20px;


}

#dankevideo{

width: 800px;

}

#insta{

height: 30px;
width: 30px;
margin-left: 40px;



}

#insta a:hover{

    background: blue; 

}

#facebook{

    height: 30px;
    width: 30px;
    margin-left: 40px;
    
    
    
    }

#facebook a:hover{

    background:blue;

}


.textfeld{

width: 500px;

}

.navigation li.active{
  
	color:antiquewhite;
	background-color: black;
}


#button{

    background-color: #293133;
    color: antiquewhite;
}
    

